%h2
  %a{href: "http://twitter.com/#{current_user.screen_name}"}= "@#{current_user.screen_name}"
  さんの設定
%h3 プロフィール
%form{action: "/profile/#{current_user.id}", method: 'post'}
  %input{type: 'hidden', name: '_method', value: 'put'}
  名前: 
  %input{name: 'name', value: current_user.name, size: 40}
  URL:
  %input{name: 'url', value: current_user.url, size: 120}
  %input{type: 'submit'}

%h3 プロキシ
%p 負荷の関係上、Amazon APIコール結果ではなく、認証Signature付きURLを302 Foundで返すようにお願いします。
%p リバース・プロキシからのHTTPリクエストヘッダのUser-Agentには、"rpaproxy/x.xx"(x.xxはバージョン)が含まれますので（例：rpaproxy/0.01 AppEngine-Google; (+http://code.google.com/appengine),gzip(gfe)）判別が必要な場合にお使い下さい。

%h4 新規
エンドポイント:
%form{action: '/proxy', method: 'post'}
  %input{name: 'endpoint', size: 120}
  %input{type: 'submit'}

%p 
  ※エンドポイント直下に
  %a{href: "/"}遠隔設定ファイル(rpaproxy.yaml)
  を設置し、公開して下さい（
  %a{href: "/"}例
  ）。

%h4 既存

- for proxy in current_user.proxies
  %form{action: "/proxy/#{proxy.id}", method: 'post'}
    %input{type: 'hidden', name: '_method', value: 'put'}
    %input{name: 'endpoint', value: proxy.endpoint, size: 120}
    %input{type: 'submit'}

  %form{action: "/proxy/#{proxy.id}", method: 'post'}
    %input{type: 'hidden', name: '_method', value: 'delete'}
    %input{type: 'submit'}

