%h3 メーリングリスト参加のお願い

.endpoint
  プロキシ提供者間での情報交換や連絡事項の周知のために、プロキシ提供者専用メーリングリストへの登録を推奨します。
  以下のアドレス (To, CC) にメールを送信することで、メーリングリストに参加できます。
  %ul
    %li
      To:
      %a{href: 'mailto:amazon-auth-proxy@qwik.jp'} amazon-auth-proxy@qwik.jp
    %li
      CC:
      %a{href: 'mailto:kmachu@gmail.com'} kmachu@gmail.com
    %li Subject(例): 参加します
    %li 本文(例): よろしくお願いします
  参加者であれば
  %a{href: 'http://qwik.jp/amazon-auth-proxy/RecentList.html'} メーリングリストのアーカイブ
  も見ることができます。

%h2
  %a{href: "http://twitter.com/#{current_user.screen_name}"}= "@#{current_user.screen_name}"
  さんの設定

%h3 プロフィール

%form{action: "/profile/#{current_user.id}", method: 'post'}
  %input{type: 'hidden', name: '_method', value: 'put'}
  .form-item
    %label{for: 'user.name'} 名前: 
    %input.form-text{id: 'user.name', name: 'name', value: current_user.name}
    .description あなたのお名前です。プロキシ一覧のページに表示されます。
  .form-item
    %label{for: 'user.url'} URL: 
    %input.form-text{id: 'user.url', type: 'url', name: 'url', value: current_user.url}
    .description ウェブサイトをお持ちでしたら、ここにURLを入力してください。
  %input{type: 'submit', value: 'プロフィール更新'}

%h3 プロキシ登録

%form{action: '/proxy', method: 'post'}
  .form-item
    %label{for: 'proxy.endpoint'} エンドポイント:
    %input.form-text{id: 'proxy.endpoint', type: 'url', name: 'endpoint'}
    .description
      %ul
        %li
          %a{href: 'http://sho.tdiary.net/20090706.html#p01'} amazon-auth-proxy の仕様
          に準拠したプロキシのエンドポイントURLを設定してください。
        %li
          エンドポイント直下に遠隔設定ファイル (
          %a{href: "rpaproxy.yaml"}rpaproxy.yaml
          ) を設置して下さい。
        %li 負荷の関係上、Amazon APIコール結果ではなく、認証Signature付きURLを302 Foundで返すようにお願いします。
        %li リバース・プロキシからのHTTPリクエストヘッダのUser-Agentには、"rpaproxy/x.xx"(x.xxはバージョン)が含まれます。
  %input{type: 'submit', value: 'プロキシ追加'}

%h3 登録済みプロキシ

- for proxy in current_user.proxies
  %form{action: "/proxy/#{proxy.id}", method: 'post'}
    %input{type: 'hidden', name: '_method', value: 'put'}
    .form-item
      %label{for: "proxy_#{proxy.id}.name"} 名前:
      %input.form-text{id: "proxy_#{proxy.id}.name", name: 'name', value: proxy.name}
      .description プロキシの名前です。プロキシ一覧のページに表示されます。
    .form-item
      %label{for: "proxy_#{proxy.id}.endpoint"} エンドポイント（変更不可）:
      %input.form-text{id: "proxy_#{proxy.id}.endpoint", type: 'url', name: 'endpoint', value: proxy.endpoint, readonly: true}
      .description= "成功: #{proxy.success}回, 失敗: #{proxy.failure}回"
    %input{type: 'submit', value: 'プロキシ情報更新'}

  %form{action: "/proxy/#{proxy.id}", method: 'post'}
    .description プロキシ情報を削除する場合は、下のボタンをクリックしてください。
    %input{type: 'hidden', name: '_method', value: 'delete'}
    %input{type: 'submit', value: 'プロキシ情報削除'}

