-# Encoding:utf-8
%h2 登録プロキシ一覧
%table{cellpadding: '0', cellspacing: '0'}
  %tbody
    %tr
      %th プロキシ名
      %th 提供者
      -for locale in locales
        %th= locale
      %th 要求
      %th 成功
      %th 失敗
      %th 備考
    -for proxy in @proxies
      %tr
        %td= proxy.name
        -if proxy.user
          -if proxy.user.url && proxy.user.url != ""
            %td
              %a{href: proxy.user.url}= proxy.user.name
          -else
            %td= proxy.user.name
        -else
          %td
        -for locale in locales
          -if proxy.locales.include?(locale)
            %td ○
          -else
            %td −
        %td.number= proxy.success + proxy.failure
        %td.number= proxy.success
        %td.number= proxy.failure
        %td

