%h2 アクセス統計

%ul#stats-locales.nav.nav-tabs
  -for stat in @stats
    %li
      %a{:href => "#tabs-#{stat.locale}", 'data-toggle' => "tab"}
        =stat.locale
.tab-content
  -for stat in @stats
    .tab-pane{id: "tabs-#{stat.locale}"}
      %table.table
        %tbody
          %tr
            %th Associate Tag
            %th アクセス数
            %th 割合
          -for atag_report in stat.atag_reports
            %tr
              %td= atag_report.atag
              %td.number= atag_report.count
              %td.number= "#{(atag_report.ratio * 100).to_i}%"
